################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TCP_CONNECTION/v15
/.vs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
